:root{
  --icon-code:#530481;
  --icon-code-white:#ffffff;

}

/*------ menu nav -------*/
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 1em;
}

header nav .nav-right{
  display: flex;
  justify-content: center;
}

header nav .nav-right a{
    color: var(--icon-code);
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1.1em;
}

/* header nav .nav-left{
} */

header nav .nav-left .register-login-btn{
border: 1px solid var(--icon-code);
border-radius: 5px;
padding: 5px 8px;
display: flex;
justify-content: center;
align-items: center;
}

header nav .nav-left .register-login-btn i{
color: var(--icon-code);
margin: 8px 8px  8px 6px;;
font-size: 1.2em;

}

header nav .nav-left .register-login-btn a{
  color: var(--icon-code);
  margin: 0px 0px  0px 8px;
  font-size: 0.95em;
}

/*------slider section-------*/
.slider{
  position: relative;
  font-size: 1em;
}
/* .slider .slides{} */


.slider .slides .item{
  position: relative;
  display: none;
}
.slider .slides .item img{
  width: 100%;
}
.slider .slides .item span{
  position: absolute;
  z-index: 1;
}

.slider .slides .item .s1{
  position: absolute;
  z-index: 1;
  color: #6b6a6a;
  right: 5%;
  top: 40%;
  font-size: 1.2em;
  font-weight: bold;

}

.slider .slides .item .s2{
  position: absolute;
  z-index: 1;
  top: 40%;
  right: 5%;
  color: var(--icon-code-white);
  font-size: 1.2em;
  font-weight: bold;
}

.slider .slides .item .s3{
  position:absolute;
  z-index: l;
  top: 40%;
  right: 5%;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--icon-code-white);
}

.slider .slides .active{
  display: block;
  animation-name: fadeIn;
  animation-duration: 2s;
}

/* slides button */

.slider .buttons {
  position: absolute;
  bottom: 20px;
  left: 40px;
  z-index: 1;
  color: rgba(49, 48, 48, 0.4);
}
.slider .buttons i {
  margin-right: 5px;
  cursor: pointer;
}
.slider .buttons i:hover {
  color: rgba(209, 241, 52, 0.4);
}




