:root{
  --icon-code:#530481;
  --icon-code-white:#ffffff;
  --button-code-milky:#dfdddd;
  --button-code-gray:#727171;

}

/*------ menu nav -------*/
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 1em;
}

header nav .nav-right{
  display: flex;
  justify-content: center;
}

header nav .nav-right a{
    color: var(--icon-code);
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1.1em;
}

/* header nav .nav-left{
} */

header nav .nav-left .register-login-btn{
border: 1px solid var(--icon-code);
border-radius: 5px;
padding: 5px 8px;
display: flex;
justify-content: center;
align-items: center;
}

header nav .nav-left .register-login-btn i{
color: var(--icon-code);
margin: 8px 8px  8px 6px;;
font-size: 1.2em;

}

header nav .nav-left .register-login-btn a{
  color: var(--icon-code);
  margin: 0px 0px  0px 8px;
  font-size: 0.95em;
}

/*------slider section-------*/
.slider{
  position: relative;
  font-size: 1em;
}
/* .slider .slides{} */


.slider .slides .item{
  position: relative;
  display: none;
}
.slider .slides .item img{
  width: 100%;
}
.slider .slides .item span{
  position: absolute;
  z-index: 1;
}

.slider .slides .item .s1{
  position: absolute;
  z-index: 1;
  color: #6b6a6a;
  right: 5%;
  top: 40%;
  font-size: 1.2em;
  font-weight: bold;

}

.slider .slides .item .s2{
  position: absolute;
  z-index: 1;
  top: 40%;
  right: 5%;
  color: var(--icon-code-white);
  font-size: 1.2em;
  font-weight: bold;
}

.slider .slides .item .s3{
  position:absolute;
  z-index: l;
  top: 40%;
  right: 5%;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--icon-code-white);
}

.slider .slides .active{
  display: block;
  animation-name: fadeIn;
  animation-duration: 2s;
}

/* slides button */

.slider .buttons {
  position: absolute;
  bottom: 20px;
  left: 40px;
  z-index: 1;
  color: var(--button-code-gray);
}
.slider .buttons i {
  margin-right: 5px;
  cursor: pointer;
}
.slider .buttons i:hover {
  color: var(--button-code-milky);
}

/*----------product section-----------*/

.product-sec-new {
  padding: 20px 10px;
  font-size: 1em;
}
.shopping-card {
  text-align: center;
  box-shadow: 0px 2px 8px 0px rgb(0, 0, 0, 0.4);
  margin: 10px 15px;
  border-radius: 5px;
  padding: 10px;
}
.shopping-card .img-sec {
  position: relative;
}
.shopping-card .img-sec img {
  width: 50%;
}
.shopping-card .img-sec .hot-offer {
  background-color: red;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.9;
}
.shopping-card .img-sec .stars {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.9;
  color: #ffe600;
}
.shopping-card .title {
  color: #333;
  margin: 15px;
}
.shopping-card .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.shopping-card .buttons .right .price {
  color: #666;
  font-weight: bold;
}
.shopping-card .buttons .left {
  display: flex;
}
.shopping-card .buttons .left .extend-btn {
  display: flex;
  margin-left: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(7, 239, 166);
  color: white;
  width: 40px;
  padding: 8px 12px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.75s;
}
.shopping-card .buttons .left .extend-btn:hover {
  width: 100px;
}
.shopping-card .buttons .left .extend-btn .b-text {
  display: none;
  color: #000000;
}
.shopping-card .buttons .left .extend-btn:hover .b-text {
  display: block;
}
.shopping-card .buttons .left .extend-btn .b-icon {
  color: white;
}



/*------supper offer section------*/
.supper-offer-section{
  padding: 20px;
  font-size: 1em;
}

.supper-offer-section .supper-offer-box{
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4) ;
  border-radius: 5px;
  margin: 0 10px;
}

.supper-offer-box .supper-offer-box-title{
  background-color: #e74c3c;
  color: white;
  padding: 8px 30px;
  display: inline-block;
  border-bottom-right-radius:20px ;
  border-bottom-left-radius:20px ;
}

.supper-offer-box .body{

}
.supper-offer-box .body .image-container{
  text-align: center;
  padding: 30px;
}
.supper-offer-box .body .image-container img{
  width: 100%;
}
.supper-offer-box .body .specification{
   padding: 70px 5px;
}

.supper-offer-box .body .specification .price-row{
  display: flex;
  justify-content: center;
  align-content: center;
}

.supper-offer-box .body .specification .price-row .price{
 margin-left: 60px;
  color: #444;
  font-size: 1.2em;
}

.supper-offer-box .body .specification .price-row .off{
  color: white;
  background-color: #e74c3c;
  padding: 5px 20px;
  border-radius: 25px;
  }

.supper-offer-box .body .specification .title{
  margin: 50px 0;
  font-weight: bold;
  color: #444;
  font-size: 1.4em;
}

.supper-offer-box .body .specification .counter-down{
  border-top: 1px solid rgba(0, 0, 0, .4);
  margin: 10px 40px;
  padding-top: 20px;
  font-weight: bold;
  color: #666;
  font-size: 1.5em;
  }

.supper-offer-box .body .specification .remaining-time{
  color: #777;
  font-size: 0.8em;
}

.supper-offer-section .banner{
  text-align: center;
  padding: 0 5px;
}
.supper-offer-section .banner img{
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4) ;
  width: 80%;
}

/*------section-draggable-list------*/
.owl-stage-outer{
  direction: ltr;
}
.draggable-list img{
  width: 70% !important;
  margin: auto;
}

.draggable-list .title{
  padding: 0px 20px;
  padding-bottom: 20px;
}
.draggable-list .title span{
  font-size: 1.2em;
  color: #444;
  border-bottom: 2px solid #e74c3c;

}

 .draggable-list .item .shopping-card {
  text-align: center;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .3);
  margin: 10px 15px;
  border-radius: 5px;
  padding: 10px;

}


/* footer */

footer {
  background-color: #676666;
  font-size: 1em;
  color: #ffffff;
}
footer .right {
  padding: 40px;
}
footer .right .title {
  padding: 10px 0px;
  color: #ffffff;
  font-size: 1.2em;
}
footer .right .des {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5em;
}

footer .left {
  padding: 40px;
}
footer .left .title {
  padding: 10px 0px;
  font-size: 1.2em;
  color: #ffffff;
  text-align: center;
}
footer .left .socials {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
footer .left .socials a {
  color: #ffffff;
  font-size: 1.4em;
}

footer .buttom {
  background-color: #535252;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 15px;
}
